.registercontainer{
height: 100vh;
width: 100vw;
background-image: url('../../images/wall1.jpg');
top:0;
left: 0;
margin: 0 0;
background-repeat: no-repeat ;
background-position: center;
background-size:cover ;
display: flex;
justify-content: center;
text-align: center;
font-size: 1.5em;
font-family: Fraunces;
overflow: hidden;
align-items: center;
flex-direction: column;
}
.registercontainer>a{
height: 7%;
width: 100%;
font-size: 1.3em !important;
position: absolute;
top: 0.8rem;
}
.initials{
align-items: center;
overflow: hidden;
align-items: center;
justify-content: center;
display: flex;
flex-direction: column;
background-color: rgba(210, 172, 241, 0.315);
border-radius: 1em;
box-shadow: 4px 2px 14px rgb(75, 74, 74);
width: 60%;
height: 70%;
display: flex;
}
.initials>h1{
letter-spacing: 0.2em;
font-size: 2.5em;
line-height: 2em;
color: rgb(97, 61, 133);
text-shadow: 2px 2px 5px rgba(22, 22, 22, 0.274);
}
.initials>h2{
margin: 2%;
font-size: 1em;
text-shadow: 2px 3px 4px rgb(129, 126, 126);
}
.optcont{
display: flex;
flex-direction: row;
justify-content: center;
width: 40%;
padding-top: 0.3em;
}
.optdivs{
cursor: pointer;
width: fit-content;

}
.optdivs>img{
box-shadow: 0 2px 24px rgba(107, 106, 106, 0.514);
width: 35%;
border-radius: 50%;
border: 4px solid rgba(0, 0, 0, 0.315);
padding: 0.2em;
cursor: pointer;
transition:all 0.5s ease-in-out 0.01ms;
}
.optdivs>h3{
text-shadow: 2px 2px 4px rgba(209, 207, 207, 0.822);
opacity: 0;
transition:opacity 0.5s ease-in-out 0.01ms;
font-family: Fraunces;
font-size: 0.7em;
cursor: pointer;
margin-top: 0.5em;
}
.optdivs>img:hover + h3{
opacity: 1;
}
.optdivs>img:hover{
transform: scale(1.25);
border: 4px solid  rgb(97, 61, 133);
}
.buttons{
width:10%;
height: 1.8em;
border-radius: 18px;
justify-self: center;
align-self: center;
font-size: 0.7em;
outline: none;
border:2px solid rgb(97, 61, 133);
box-shadow: 4px 4px 10px rgba(80, 71, 71, 0.589);
background-color: rgba(194, 127, 207, 0.151);
color:rgb(97, 61, 133);

font-family: Fraunces;
cursor: pointer;
transition: .7s ease-in-out 0.1s;
}
.buttons:hover{
background-color: rgb(97, 61, 133);
color: beige;
transform: scale(1.2);
}
#authscreen{
display: none;
flex-direction: row;
justify-content: center;

width: 100%;
height: 100%;
overflow: hidden;
align-items: center;
}

#authorization_forms{
display: flex;
flex-direction: column;
justify-content: center;
width: 92%;
height: 100%;
overflow: hidden;
align-items: center;
}
#bookmarks{

height: 100%;
display: flex;
flex-direction: column;
justify-content: space-around;
width: 17%;
}
#bookmarks>div{
display: flex;

transform: rotate(-90deg);
width: 26em;
box-shadow: 5px 5px 14px rgba(105, 104, 104, 0.548);
height: 4.5em;
font-size: 0.6rem;
font-family: Fraunces;
justify-content: center;
align-items: center;
border-radius: 14em;
border: 4px solid  rgb(97, 61, 133);
cursor: pointer;
transition:all 0.1s ease-in-out 0.1ms ;
}
#bookmarks>div>h1{

transition:all 0.5s ease-in-out 0.01ms;
}
#bookmarks>div:hover{
width: 28em;
height: 4.5em;
color:rgb(97, 61, 133);
}
#bookmarks>div:hover  h1{
color: rgb(97, 61, 133);
}
.selected_bookmark{
background-color: rgb(97, 61, 133) !important ;

}
.selected_bookmark>h1{
color: white !important;
}
.selected_bookmark:hover h1{
color: white !important;
}
#book_and_form{
display: flex;
flex-direction: row;
width: 60%;
height: 72%;
align-items: flex-end;
justify-content: flex-start;
}
.signupform{
background-color: rgba(210, 172, 241, 0.315);
border-radius: 1em;
box-shadow: 4px 2px 14px rgb(75, 74, 74);
display: flex;
flex-direction: column;
width: 70%;
height: 90%;
align-self: center;
overflow: scroll;
padding: 1em;
}
#authorization_forms>h1{
color: rgb(97, 61, 133);
text-shadow: 2px 3px 4px rgba(129, 126, 126, 0.555);
letter-spacing: 0.2em;
}
.as{
display:flex;
flex-direction: row;
width: 30%;
align-items: center;
justify-content: center;
margin-bottom: 0.4em
}
.as>img{
margin-left: 0.5em;
width:1.5em;
height:1.5em;
border-radius: 50%;
}
.as>h3{
font-family:"Fraunces";
font-size:1.2em ;
margin-left:0.5em;
color:  rgb(97, 61, 133);
}
#authorization_forms>.as>h2{
margin:0.5%;
font-size: 1em;
text-shadow: 2px 3px 4px rgb(129, 126, 126);
}
.sideopts{

display: flex;
flex-direction: column;
width: 5%;
height: 55%;
margin-right: 1%;
justify-content: center;
}

.optitle{
opacity: 0;
transition:opacity 0.5s ease-in-out 0.01ms;
background-color: rgb(97, 61, 133);
letter-spacing: 0.2em;
font-family: Fraunces;
border-bottom-left-radius: 1em;
border-top-left-radius:1em ;
box-shadow: 4px 2px 14px rgb(75, 74, 74);
padding: 0.8em 0;
margin-right: -0.3em;
}
.optitle>h4{
width: 9em;
z-index: 1000;
color: white;
font-size: 1.2em;
}
.operation{
display: flex;
flex-direction: row-reverse;
font-size: 0.7em;
font-family: Raleway;
margin-bottom: 2em;
width: 98%;
align-items: center;
transition:all 0.5s ease-in-out 0.01ms;
}
.opicon{
z-index: 4000;
background: inherit;
border: 3px solid #454747 ;
border-radius: 50%;
padding: 0.43em 0.43em;
display: flex;
align-items: center;
justify-content: center;
font-size: 2em;
box-shadow: 2px 2px 7px rgba(59, 59, 59, 0.507);
cursor: pointer;

}
.opicon>img{
width :3rem;
}

.opicon:hover + .optitle  {
  opacity: 1;

}
.operation>:hover{
transform: scale(1.12);
}
.opicon:hover{
border: 3px solid rgb(97, 61, 133);
}
.form-fields{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
font-family: Raleway;
font-size: 1em;
}
.form-fields>label{
margin-right: 1em;
}
.inputf{
outline: none;
border: none;
width: 100%;
overflow-x: scroll;
border-bottom: 2px solid black;
border-radius: 0;
background-color: rgba(210, 172, 241, 0.315);
}
.inputf:focus{
background-color: rgba(210, 172, 241, 0.315);
}
.formbtn{
padding: 0.7em 2.5em;
font-size: 0.8em;
border-radius: 2em;
font-family: Raleway;
border:3px solid  rgb(97, 61, 133);
transition: all 0.5s ease-in-out 0.01ms;
cursor: pointer;
}
.formbtn:hover{
transform: scale(1.2);
border: 3px solid  rgba(210, 172, 241, 0.315);
background-color:  rgb(97, 61, 133);
color: rgba(210, 172, 241, 0.315);
}
.inputsdiv{

display: flex;
flex-direction: column;
justify-content: space-around;
height: 90%;
}
.signupform>form>.btndiv{
display: flex;
margin-top: 1em;
justify-content: center;
align-items: flex-end;

}
.formbtn{
box-shadow: 5px 2px 14px rgba(0, 0, 0, 0.466);
}
.signupform>form{

height: 100%;
}
.time{
width: 37%;
}
.form-fields>h5{
margin: 0 4%;
}
.errordescription{
background-color: rgb(236, 213, 213);
border: 3px solid red;
color: red;
width: 100%;
padding: 0.3em 0.2em;
text-align: center;
font-family: Fraunces;
font-size: 1em;
display: none;
}
#repw{
width: 73.4%;
}
.inputsdiv>h6{
font-family: Fraunces;
color: red;
text-align: end;
padding-right: 1em;
font-size: 0.8em;
display: none;
}
.inputsdiv>h4{
font-family: Fraunces;
font-size: 0.6em;
font-weight: 600;
color: blue;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}
#showpw{
padding: 0 0.5em;
font-size: 1em;
background: transparent;
border: none;
cursor: pointer;
}
