.registercontainer {
  height: 140vh;
  width: 100vw;
  background-image: url('../../images/wall1.jpg');
  top: 0;
  left: 0;
  margin: 0 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  font-family: Fraunces;
  padding:0 10px;
}

.registercontainer>a {
  font-size: 1.3em !important;
  position: absolute;
  top: 0;
  left: 0;
}

.initials {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  box-shadow: 4px 2px 14px rgb(75, 74, 74);
  width: 50%;
  height: 55%;
  background-color: rgba(173, 209, 243, 0.4);
  box-shadow: 4px 2px 14px rgb(174, 173, 173);
  border-radius: 15px;
}

.initials>h1 {
  font-size: 2.5rem;
  font-family: Fraunces;
  text-align: center;
  text-shadow: 2px 2px 7px rgba(112, 111, 111, 0.5);
  color: rgb(36, 42, 100);
  letter-spacing: 0.1em;
}

.initials>h2 {
  margin: 1rem;
  font-size: 1em;
}

/* ---opt div in login.css */

.buttons {
  border-width: 0;
  border-radius: 10px;
  padding: 15px 30px;
  font-family: Fraunces;
  cursor: pointer;
  background-color: rgb(36, 42, 100);
  color: white;
  font-size: 0.85rem;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.buttons:hover {
  transform: scale(1.1);
}

/* ---------------------register screen--------- */
#authscreen {
  display: none;
  flex-direction: row;
}

#authorization_forms {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

#authorization_forms>h1 {
  text-align: center;
  color: rgb(36, 42, 100);
  text-shadow: 2px 3px 4px rgba(129, 126, 126, 0.555);
  letter-spacing: 0.2em;
}

.as {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

#authorization_forms>.as>h2 {
  font-size: 1em;
}

.as>img {
  margin-left: 0.5em;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.as>h3 {
  font-family: "Fraunces";
  font-size: 1.2em;
  margin-left: 0.5em;
  color: rgb(36, 42, 100);
}

#book_and_form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

#bookmarks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#bookmarks>div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 0;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  font-family: Fraunces;
  cursor: pointer;
  background-color: rgb(36, 42, 100);
  color: white;
  font-size: 0.4rem;
  transition: all 0.1s ease-in-out 0.1ms;
  margin-right: 5px;
}

#bookmarks>div>h1 {
  color: white;
  transition: all 0.5s ease-in-out 0.01ms;
}

#bookmarks>div:hover {
  background-color: rgb(205, 229, 252);
}

#bookmarks>div:hover h1 {
  color: black;
}

.signupform {
  background-color: rgba(173, 209, 243, 0.4);
  box-shadow: 4px 2px 14px rgb(174, 173, 173);
  border-radius: 15px;
  padding: 20px 40px 20px 40px;
}

/* ---------------------side--------------------------------- */
.sideopts {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 40%;
  right: 10px;
}

.optitle {
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0.01ms;
  background-color: rgb(36, 42, 100);
  font-family: Fraunces;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
  padding:10px 15px;
}

.optitle>h4 {
  width: 15%;
  z-index: 20;
  color: white;
  font-size: 0.8rem;
}

.operation {
  display: flex;
  flex-direction: row-reverse;
  font-family: Raleway;
  margin-bottom: 2rem;
  align-items: center;
  transition: all 0.5s ease-in-out 0.01ms;
}

.opicon {
  border: 1px solid #454747;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(205, 229, 252);


}

.opicon>img {
  width: 2.5rem;
}

.opicon:hover+.optitle {
  opacity: 1;

}

.operation>:hover {
  transform: scale(1.1);
}

.opicon:hover {
  border: 2px solid rgb(36, 42, 100);
}




.errordescription {
  background-color: rgb(236, 213, 213);
  border: 3px solid red;
  color: red;
  width: 100%;
  padding: 0.3em 0.2em;
  text-align: center;
  font-family: Fraunces;
  font-size: 1em;
  display: none;
}

#repw {
  width: 73.4%;
}

.inputsdiv>h6 {
  font-family: Fraunces;
  color: red;
  text-align: end;
  padding-right: 1em;
  font-size: 0.8em;
  display: none;
}

.opentime {
  margin-top: 5px;
  font-family: Fraunces;
  font-size: 0.65em;
  color: blue;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#showpw {
  padding: 0 0.5em;
  font-size: 1em;
  background: transparent;
  border: none;
  cursor: pointer;
}