#Departmentdashboard{
display: flex;
flex-direction: row;
 padding: 0.5em;
width: 100%;
height: 100%;
}
/*All the styles below are defined in the medicine.css file primarily*/
.contentarea{
    align-items: flex-start;
    width: 95%;
    height: 100%;
}
.contentareatitle{
font-size: 2.5em;
font-family: Fraunces;
text-align: center;
margin: 0.1em 0;

}
/* All the styles above are defined in the medicine.css file primarily*/
.stockopiconhospital{
background-color:#8db2f8;
border-radius: 50%;
padding: 0 0.43em;
height: 1.4em;
display: flex;
align-items: center;
justify-content: center;
font-size: 2em;
box-shadow: 2px 2px 7px rgba(59, 59, 59, 0.507);
cursor: pointer;
margin-left: 0.5em;
}
.stockopiconhospital>h4{
transition: transform 2.5s ease-in;
}
.stockopiconhospital>h4{
color: white;
font-family: Fraunces;
}
.stockopiconhospital:hover + .stockoptitle  {
  opacity: 1;

}
.stockopiconhospital:hover> h4{
transform: rotate(180deg);
}

.depscontainer{
 display: flex;
  flex-wrap: wrap;
margin-left: 3em;
align-items: center;
 overflow-y: scroll;
padding: 0 1em;

}
.errordepexpand{
  width: 100%;
  display: flex;
  font-family: Fraunces;
  font-size: 1.1rem;
  text-align: center;
  justify-content: center;
}
.depsdiv{
transition: all 1s ease-in-out 0s;
  text-align: center;
  flex-basis: 45%;
  height: 15em;
  margin:2em 2em 1em 0;
  cursor: pointer;
background-color: #c7dafc65;
}
.depsdiv:hover{
transform: scale(1.05);
}
.deptitle{
background-color: #8db2f8;
padding: 0.5em 1em;
font-family: Raleway;
text-align: left;
display: flex;
font-size: 1.2em;
align-items: center;
justify-content: space-between;
}
.depinfo>h4{
font-size: 1.3em;
font-family: Fraunces;
text-align: left;
padding: 0.5em 1em;
font-weight: 100;
}
.icondep:hover{
background-color: white;

}
.icondep{
box-shadow: 0 2px 30px rgba(53, 52, 52, 0.247);
width: 1.5rem;
height: 1.5rem;
border-radius: 50%;
}
.more-btnhospital{
border-radius: 50%;
height: 1.4em;
width: 1.4em;
font-size: 2.3em;
transition: all 0.5s ease-in-out;
font-family: Fraunces;
border:3px solid  #294f96;
font-weight: bolder;
color: #294f96;
cursor: pointer;
box-shadow: 0 2px 2px rgba(12, 11, 11, 0.233);
margin-left: 48% !important;
}
.more-btnhospital:hover{
color: white;
background-color: #294f96;
transform: scale(1.15);
border: none;
}
.nulldata{
margin-top: 20%;
font-size: 1.3em;
font-family: Raleway;
text-align: center;
text-shadow: 2px 2px 4px rgba(209, 207, 207, 0.822);
font-weight: 500;
justify-content: center;
display: flex;
width: 100%;
margin-bottom: 2em;
}
/*add department info*/
#topbarmedshospital>h1{
background-color: #f1efef;
padding: 0.7em 14vw;
font-family: Fraunces;
border-radius: 2em;
border: 4px solid #294f96;
font-size: 1.3em;
}
#addmedcontenthospital{
border-radius: 2em;
box-shadow: 0 2px 30px rgba(53, 52, 52, 0.247);
padding: 0.7em;
background-color: #f1efef;
border: 4px solid #294f96;
overflow: scroll;
height: 90%;
}

.docdeptitle{
font-family: Fraunces;
text-align: center;
background-color: #8db2f8;
}
#depheading{
font-size: 1.4em;
font-family: Raleway;
padding: 1em;
border-bottom: 1px solid black;
display: flex;
flex-direction: row;
align-items: center;
height: 10%;
}
#depheading>input{
background-color: transparent;
border: none;
margin-left: 1em;
border-bottom: 2px solid #294f96;
outline: none;
width: 70%;
font-size: 1.4em;
font-family: Raleway;
}
#depcontent{
height: 76%;
width: 96%;
padding: 0.5em;
display: flex;
flex-direction: column;
justify-content: space-evenly;
font-family: Fraunces;
font-size: 1.4em;
}
.inputerror{
color: red;
font-size: 1em;
text-align: center;
width: 100%;
margin: 0;
padding: 0;
display: none;
}
.dep-info-field>input{
outline: none;
border: none;
border-bottom: 2px solid #294f96;
font-family: Fraunces;
font-size: 1.1em;
background-color: transparent;
margin-left: 1em;
width: 70%;
}
#btndiv{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.depsubmit{
width: 9em;
border-radius: 2em;
box-shadow: 2px 2px 7px rgba(59, 59, 59, 0.507);
padding: 0.3em 0;
border:3px solid  #8db2f8;
font-weight: bolder;
color: black;
font-size: 1em;
transition: all 0.5s ease-in-out;
font-family: Raleway;
cursor: pointer;
}
.depsubmit:hover{
transform: scale(1.05);
color: white;
background-color: #8db2f8;
}
.disablebtn{
opacity: 0.5;
}
#deletealertgray{
width: 80%;
height: 80%;
display: flex;
align-items: center;
justify-content: center;
display: none;
position: absolute;
}
.deletealertgray{
width: 80%;
height: 80%;
display: flex;
align-items: center;
justify-content: center;
display: none;
position: absolute;
}
#deletealert{
width:35em;
height: 18em;
border-radius: 2em;
border: 3px solid red;
background-color: #f5dddddc;
position: absolute;
box-shadow: 6px 6px 10px rgba(122, 122, 122, 0.644) ;
}
#loginalert{
width:35em;
height: 18em;
border-radius: 2em;
border: 3px solid #8db2f8;
background-color: #ddedf5dc;
position: absolute;
box-shadow: 6px 6px 10px rgba(122, 122, 122, 0.644) ;
}
#deletealert>div{
width: 100%;
background-color: transparent !important ;
box-shadow: none !important;
}
#deletealert>#alertcontainer>#contentareaalert{
font-size: 0.8em;

}
#deletealert>#alertcontainer>#contentareaalert>h2{
margin-bottom: 0.9em;

}
#deletealert>#alertcontainer>#contentareaalert>input{
font-size: 1.5em;
text-align: center;
}


#loginalert>div{
width: 100%;
background-color: transparent !important ;
box-shadow: none !important;
}
#loginalert>#alertcontainer>#contentareaalert{
font-size: 0.8em;

}
#loginalert>#alertcontainer>#contentareaalert>h2{
margin-bottom: 0.9em;

}
#loginalert>#alertcontainer>#contentareaalert>input{
font-size: 1.5em;
text-align: center;
}
/*kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk*/
.depgray{
position: absolute;
top: 0;
left: 0;
background-color: rgba(146, 144, 144, 0.397);
width: 100%;
height: 100%;
display: flex;
z-index: 50000;
justify-content: center;
align-items: center;
}
#depexpdiv{
background-color: white;
border-radius: 2em;
padding: 1em;
box-shadow: 6px 6px 10px rgba(122, 122, 122, 0.644) ;
width: 75%;
height: 90%;
border: 4px solid #8db2f8;
}
#depexpdivhead{
display: flex;
width: 98%;
align-items: center;
padding: 1em;
justify-content: space-between;
}
#depexpdivhead>h1{
font-family: Fraunces;
font-size: 2em;
}
#depexpnav{
border-bottom: 3px solid rgba(170, 166, 166, 0.397);
width: 98%;
align-items: flex-end;
display: flex;
flex-direction: row;
height: 7%;
font-family: Fraunces;
overflow-x: scroll;
overflow-y: hidden;
}
#depexpnav>div{
overflow-x: hidden;
margin: 0em 1em;
font-size: 0.6rem;
border: 3px solid #8db2f8;
box-shadow: -5px -5px 14px rgba(175, 173, 173, 0.308);
border-bottom: none;
width: 21%;
transition: all 0.5s ease-in-out;
cursor: pointer;
height: 85%;
overflow-y: hidden;
color: black;
}
#depexpnav>div>h2{
padding:0% 10%;
width: 98%;
display: flex;
align-items: center;
height: 90%;
}
#depexpnav>div:hover{
transform: scale(1.1);
}
.selectednav{
background-color: #8db2f8 !important;
color: white !important;
text-shadow: 2px 2px 7px rgba(173, 171, 171, 0.274);
}
.selectednav>h2{
color: white !important;
text-shadow: 2px 2px 7px rgba(173, 171, 171, 0.274);
}
#depexpcontent{

height: 80%;
width: 99%;
}
#depdoctorsdiv{
width:100%;
height: 45%;
display: flex;
flex-wrap: wrap;
flex-direction: row;
overflow-x: scroll;
align-items: center;

}
#depexpcontent>h3{
width: 100%;
font-family: Fraunces;
text-align: center;
margin-bottom: 0.5em;

}
.medsdivdep{
  border:3px solid #f2f2f2;
  text-align: center;
  flex-basis: 10rem;
  height: 70%;
  margin:0em 2em 1em 0;
  cursor: pointer;
  border-radius: 2em;
}
.medsdivdep>.topareamed{
height: 40%;
padding-top:0% ;
display: flex;
justify-content: center;
padding: 0 !important;
margin: 0 !important;
}

.medsdivdep>.bottomareamed{
height: 35%;
font-family: Fraunces;
display: block;
font-size: 0.8rem;
}


.medsdivdep>.topareamed>.medimg{
width: 55%;

}
.depinfofield{
width: 100%;
display: flex;
font-family: Fraunces;
font-size: 1.1em;

}
.depinfofield>input{
width: 80%;
display: flex;
font-family: Fraunces;
font-size: 1.1em;
border: none;
outline: none;
border-bottom: 2px solid #294f96;
font-family: Fraunces;
}
.depinfofield>h2{
width: 30%;
color: #294f96;
text-shadow: 2px 2px 7px rgba(163, 162, 162, 0.349) ;
}
.depinfofield>h3{
width: 70%;
}
#profdivview{
background: linear-gradient(#8db3f838, white);

height: 80%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
padding-left: 10%;
}
.editprof{
height: 100% !important;
}
#profdivview>div:nth-child(1){
margin-bottom: 0;
}
#profdivview>div:nth-last-child(1){
justify-content: flex-end;

display: flex;

}
#profdivview>div:nth-last-child(1)>button{
outline: none;
border: 3px solid #8db2f8;
background-color: transparent;
padding: 1em 2em;
border-radius: 2em;
font-family: Fraunces;
transition: all 0.5s ease-in-out;
box-shadow: 5px 5px 14px rgba(136, 136, 136, 0.541);
cursor: pointer;
text-align: center;
margin: 1em;
margin-top: 10%;
}
#profdivview>div:nth-last-child(1)>button:hover{
background-color: #8db2f8;
transform: scale(1.1);
color: white;
}
#Doctorappdet{
font-family: Fraunces;
width: 95%;
justify-content: space-evenly;
margin: 1em;
padding: 1em;
display: flex;
align-items: center;
}
#Doctorappdet>h1{

margin-left: 1em;
font-size: 1.3em;
}
#Doctorappdet>h2{

margin-right: 5em;
font-size: 1.1em;
}
#tokenstats{
font-family: Fraunces;
width: 95%;

margin: 1em;
padding: 1em;
display: flex;
align-items: center;
justify-content: space-evenly;
}
#tokenstats>h1{
font-size: 1.5em;
color: #294f96;
text-shadow: 2px 2px 7px rgba(145, 143, 143, 0.363);
}
#tokenstats>h2{
font-size: 1.2em;
}
#tokenpatientstats{
font-family: Fraunces;
width: 95%;

margin: 1em;
padding: 1em;
display: flex;
align-items: center;
justify-content: space-evenly;
}
#tokenpatientstats>div{
width: 25%;
border:  3px solid #f2f2f2;
height: 15em;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
font-family: Fraunces;
}
#tokenpatientstats>div>img{
width: 30%;
height: 30%;
}
#tokenpatientstats>div>h2:nth-child(1){
color: #294f96;
text-shadow: 2px 2px 7px rgba(145, 143, 143, 0.363);
font-size: 1.2em;
}
#tokenpatientstats>div>h2:nth-child(4){
font-size: 1em;
}
#tokenpatientstats>div>h2:nth-child(5){
font-size: 1em;
}
#tokenpatientstats>div>h2:nth-child(3){
font-size: 1.4em;
}
.docopddiv{
box-shadow: 5px 5px 14px rgba(136, 136, 136, 0.541);
margin: 2em;
border-radius: 2em;

}
#tokencounter{
display: flex;
font-family: Fraunces;
justify-content: space-evenly;
align-items: center;
font-size: 0.7em;
padding-bottom: 2em;
}
.appdivdep{

overflow: scroll;
display: flex;
flex-direction: column;

}
#tokencounter>h3{
cursor: pointer;
border-radius: 50%;
border: 3px solid #2755aa;
font-size: 1.9em !important;
box-shadow: 5px 5px 14px rgba(121, 121, 121, 0.397);
transition: all 0.5s ease-in-out;
color: #2050a8;
font-weight: bolder;
font-family: Fraunces;
width:1.5em;
height: 1.5em;
text-align: center;
display: flex;
align-items: center;
font-size: 1.7em;
justify-content: center;
}
#tokencounter>h3:hover{
background-color: #8db2f8;
transform: scale(1.1);
color: white;
}
#tokencounter>h4{
cursor: pointer;
border-radius: 1em;
border: 3px solid #2755aa;
font-size: 1.9em !important;
box-shadow: 5px 5px 14px rgba(121, 121, 121, 0.397);
transition: all 0.5s ease-in-out;
color: #2050a8;
font-weight: bolder;
font-family: Fraunces;
padding: 0.1em 1em;
height: 1.5em;
text-align: center;
display: flex;
align-items: center;
font-size: 1.7em;
justify-content: center;
}
#tokencounter>h4:hover{
background-color: #8db2f8;
transform: scale(1.1);
color: white;
}