#Scheduledashboard{
display: flex;
flex-direction: row;
 padding: 0.5em;
width: 100%;
height: 100%;
}
/*All the styles below are defined in the medicine.css file primarily*/
.contentarea{
    align-items: flex-start;
    width: 95%;
    height: 100%;
}
.contentareatitle{
font-size: 2.5em;
font-family: Fraunces;
text-align: center;
margin: 0.1em 0;

}
/* All the styles above are defined in the medicine.css file primarily*/
#schedulediv{
width: 100%;
height: 90%;
display: flex;
flex-direction: row;
}
#colorcode{
width: 98%;
padding: 0.5em;
height: 1.5em;

display: flex;
flex-direction: row;
align-items: flex-end;
justify-content: flex-end;
padding-right: 1em;
}

#colordiv{
border: 1px solid black;
width: 1em;
height: 1em;
background-color: #c29de0;
}
.colorcodediv{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-left: 1em;
}
.colorhead{
margin-left: 0.5em;
font-family: Fraunces;
font-size: 1em;
}
.schedule{
display: flex;
flex-direction: row !important;
align-items: center;
overflow: scroll;
}
.schedule>h4{
width: fit-content !important;
justify-content: center;
align-items: center;
display: flex;
font-size: 1rem;
}
#subschedulediv1{
height:93%;
width:75%;
display: flex;
flex-direction: row;
padding: 1em;

}
#datecol{

height: 100%;

}
#holidaycontent>button{
outline: none;
border: 3px solid #c29de0 !important;
background-color: white !important;
opacity: 1 !important;
font-size: 1.1em;
width: 100%;
border-radius: 2em;
padding: 0.5em 1em;
font-family: Fraunces;
cursor: pointer;
transition: all 0.5s ease-in-out;
box-shadow: 5px 5px 14px rgba(129, 127, 127, 0.582);
}
#holidaycontent>button:hover{
transform: scale(1.1);
background-color: #c29de0 !important;

}
#datecol>div{
height: 13.9%;
display: flex;
flex-direction: column;
padding-right:1em ;
font-family: Fraunces;
justify-content: center;
}
#daydiv{
height: 100%;
width: 20%;
border-right: 2px solid black;
font-family: Fraunces;

}
#daydiv>div{

height: 13.9%;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;

}
#daydiv>div>h4{
font-size: 1.3em;
width: 100%;
text-align: center
}
#daydiv>div>h3{
font-size: 1em;
width: 100%;
text-align: center;
}

#dayschedulediv{
height: 100%;
width: 90%;
overflow-x: scroll;
overflow-y: scroll;
}

#dayschedulediv>div{
border-bottom: 1px solid black;
height: 13.9%;
display: flex;
flex-direction: column;
padding-left:1em ;
font-family: Fraunces;

}
#Sundayschedule{
border: none !important;
}
#dayschedulediv>div>h4{
margin: 0.3em;
background-color: pink;
border-radius: 1em;
padding: 0.7em 1em;
width: fit-content!important;
justify-content: flex-start;
display: flex;
}
#subschedulediv2{
height: 94%;
width: 23%;
padding-left: 5em;
font-family: Fraunces;
display: flex;
flex-direction: column;

}
#datechooser{

width: 100%;
font-family: Fraunces;
}
#datechooser>h5{
font-size: 1.35em;
padding: 0.5em ;
align-items: center;
border-bottom: 2px solid rgba(136, 134, 134, 0.692);
width: 100%;

}
#selecteddatefilter{
display: flex;
flex-direction: row;
justify-content: space-evenly;
width: 105%;
font-size: 1.2em;
margin-top: 0.5em;
}
#selecteddatefilter>select{
cursor: pointer;
font-size: 1.05em;
padding: 0.2em 0.6em;
font-family: Fraunces;
border: 4px solid #c29de0;
border-radius: 1em;
}
.divhead{
display: flex;
flex-direction: row;
width: 98%;
padding: 0.5em;
justify-content: space-between;
font-size: 1.15em;
align-items: center;
border-bottom: 2px solid rgba(136, 134, 134, 0.692);
margin-top: 1.5em;
}
.divcontentarea{
padding: 0.7em;
min-height: 3em;
}
.scheduleediticon{
cursor: pointer;
transition: all 0.5s ease-in-out;
width: 1.3em;
padding: 0.4em;
height: 1.3em;
border-radius: 50%;
}
.scheduleediticon:hover{
background-color: #c29de0;
box-shadow: 3px 2px 9px rgba(59, 59, 59, 0.507);

}
#workplacecontent>h4{
margin-bottom: 0.3em;
cursor: pointer;
text-align: center;
border-radius: 1em;
padding: 0.5em;
background-color: #c29de0;

opacity: 0.5;
border: none;
}

.first{
background-color: pink !important;
}
.second{

background-color:rgb(192, 225, 255) !important;
}
.third{
background-color: rgb(245, 206, 164) !important;
}
.fourth{
background-color: rgb(144, 224, 144) !important;

}
.fifth{
background-color: rgb(238, 236, 113) !important;
}

#workplacecontent>h4:hover{
opacity: 1;

}
.selectedworkplace{
border: 3px solid #c29de0 !important;
background-color: white !important;
opacity: 1 !important;
font-size: 1.1em;
}
#scheduleenterdiv{
background-color: rgb(255, 255, 255);
box-shadow: 5px 5px 14px rgba(126, 125, 125, 0.397);
width: 50%;
height: 85%;

border-radius: 2em;

}
.scheduleinfoenterdiv{
    overflow: scroll;

}
.grayareaschedule{
position: absolute;
top: 0;
left: 0;
width: 100%;
z-index: 3000;
display: flex;
justify-content: center;
align-items: center;
height: 100%;
background-color: rgba(143, 141, 141, 0.356);
}
#scheduleenterdiv>div:nth-child(1){
display: flex;
justify-content: flex-end;
padding: 1em;
height: 7%;
align-items: center;
}
#scheduleenterdiv>div:nth-child(1)>h1{
font-family: Fraunces;
width: 60%;
}
#scheduleenterdiv>div:nth-child(2){

padding: 1em;
height: 81%;

padding: 1em;
}
#closebtnschedule{
border-radius: 50%;
width: 3em;
height: 3em;
rotate: 45deg;
box-shadow: 4px 4px 14px rgba(133, 132, 132, 0.521);
transition: all 0.5s ease-in-out;
cursor: pointer;
}

#closebtnschedule>h1{
color: #c29de0;
width: 100%;
height: 100%;
border-radius: 50%;
display:flex;
justify-content: center;
align-items: center;
margin-top: -0.1em;
font-weight: 400;
}
#closebtnschedule:hover{
background-color: #c29de0;
transform: scale(1.1);

}
#closebtnschedule:hover h1{
color: beige;
}
#sheetschedule{
display: flex;
padding: 0.3em 1em;
width: 90%;
align-items: center;
justify-content: space-between;
font-family: Fraunces;
border-bottom: 2px solid rgba(131, 130, 130, 0.507);
}
#sheetschedule>h2{
font-size: 1.1rem;
width: fit-content !important;
height: 100%;
}
#sheetschedule>button{
outline: none;
border-radius: 1em;
cursor: pointer;
padding: 0.5em 2em;
font-size: 1em;
font-family: Fraunces;
border: 3px solid #c29de0;
transition: all 0.5s ease-in-out;
box-shadow: 5px 5px 14px rgba(122, 122, 122, 0.473);
background-color: transparent;
}
#sheetschedule>button:hover{
background-color: #c29de0;
transform: scale(1.1);
color: beige;
}
#hospitalbar{
width: 96%;
display: flex;
padding:0 0.5rem;
align-items: center;
padding: 0.5rem 0rem;
height: 4rem;
justify-content: space-evenly;
border-bottom: 2px solid rgba(150, 150, 150, 0.37);
}
.actiivehospitaltab{
background-color: rgba(255, 192, 203, 0.705) !important;
}
#hospitalbardiv1{
width: 87%;
height: 100%;
align-items: center;
display: flex;
overflow-y: hidden;
overflow-x: scroll;
}
#hospitalbar>div:nth-child(1)>div{
padding: 1rem 1rem;
border: 3px solid rgba(255, 192, 203, 0.705);
font-size: 0.5rem;
background-color: transparent;
cursor: pointer;
margin: 0.2em 0.5rem;
font-family: Fraunces;
box-shadow: 5px 5px 14px rgba(173, 171, 171, 0.5);
border-radius: 1em;
transition: all 0.5s ease-in-out;
width: fit-content!important;
}
#hospitalbar>div:nth-child(1)>div>h2{
width: max-content!important;
}
.inputhospitalname{
outline: none;
font-size: 1rem;
font-family: Fraunces;
padding: 0.2rem 0.2rem;
margin: 0em 1em;
border: none;
border-bottom: 3px solid rgba(255, 192, 203, 0.705);
text-align: center;
}
#hospitalbar>div>div:hover{
transform: scale(1.1);
}
#morehosbtn{
border-radius: 50% !important;
box-shadow: 5px 5px 14px rgba(173, 171, 171, 0.5);
transition: all 0.5s ease-in-out;
border: 3px solid #693396 !important;
width: 2em !important;
height: 2em !important;
padding: 0 !important;
cursor: pointer;
}
#morehosbtn>h2{
width: 100%;
height: 90%;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
font-size: 2em !important;
color: #693396 !important;
font-weight: 500;
}
#morehosbtn:hover{
transform: scale(1.2) !important;
}
#hospitalschedulearea{
background: linear-gradient(white,#c29de01a,white);
height: 10rem;
margin-bottom: 0.6rem;
overflow-y: scroll;
}
.hospitalenterinfo{
width: 80%;
}
.hospitalenterinfo>div{
display:flex;
font-family:Fraunces;
margin: 0.5em 1em;
width :100%;
}
.hospitalenterinfo>div>h3{
width:30%;
font-size: 1.1em;
}
#hospitalschedulearea>div{
display: flex;
flex-direction: row;
font-family: Fraunces;
align-items: center !important;
padding: 0.5em 1em;
border-bottom: 2px solid rgba(121, 120, 120, 0.562);
margin: 0.5em 0;
}

#hospitalschedulearea>div>h3{
font-size: 1rem;
color: #693396;
text-shadow: 2px 2px 7px rgba(139, 138, 138, 0.39);
margin-right: 1em;
width: 20%;
}
#hospitalschedulearea>div>button{
border-radius: 50%;
color: #693396;
margin-left: 1em;
width: 1em;
height: 1em;
background-color: transparent;
display: flex;
justify-content: center;
align-items: center;
border: 3px solid #693396;
transition: all 0.5s ease-in-out;
cursor: pointer;
font-size: 1.3rem;
}
#hospitalschedulearea>div>button:hover{
background-color: #693396;
color: white;
}
#schedulemanual{
border-radius: 1em;
color:black;
margin-left: 1rem;
padding: 0.5rem 2rem;
background-color: transparent;
margin: 0 0 0 80% ;
border: 3px solid #c29de0;
transition: all 0.5s ease-in-out;
cursor: pointer;
font-size: 1rem;
box-shadow: 5px 5px 14px rgba(126, 125, 125, 0.479);
font-family: Fraunces;
width: max-content;
}
#schedulemanual:hover{
background-color: #c29de0;
color: white;
transform: scale(1.1);
}
#removehospital{
border-radius: 1rem;
color:black;
padding: 0.5rem 2rem;
background-color: transparent;
margin: 1rem 0 0 70% ;
border: 3px solid red;
transition: all 0.5s ease-in-out;
cursor: pointer;
font-size: 1rem;
box-shadow: 5px 5px 14px rgba(126, 125, 125, 0.479);
font-family: Fraunces;
width: max-content;
}
#removehospital:hover{
background-color:red;
color: white;
transform: scale(1.1);
}
