#Profiledoctordashboard{
display: flex;
flex-direction: row;
 padding: 0.5em;
width: 100%;
height: 100%;
}
/*All the styles below are defined in the medicine.css file primarily*/
.contentarea{
    align-items: flex-start;
    width: 95%;
    height: 100%;
}
.contentareatitle{
font-size: 2.5em;
font-family: Fraunces;
text-align: center;
margin: 0.1em 0;

}
/* All the styles above are defined in the medicine.css file primarily*/
#Profilepharmacydashboard{
display: flex;
flex-direction: row;
 padding: 0.5em;
width: 100%;
height: 100%;
}
#editMedicinespharmacy{
background-color: #75c5c0 !important;
}
#editMedicinespharmacy>img{
width: 0.8em;
height: 0.8em;
}
#profiledivpharmacy{
width: 100%;
height: 90%;
display: flex;
flex-direction: column;
align-items: center;

}
#profiledivpharmacy>div:nth-child(1){
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
height: 90%;

}
#profiledivpharmacy>div:nth-child(2){
display: flex;
align-items: center;
height: 7%;

width: 100%;
justify-content: flex-end;
align-items: center;
}
#profiledivpharmacy>div:nth-child(2)>button{
outline: none;
border-radius: 2em;
border: 3px solid #75c5c0;;
font-family: Fraunces;
font-size: 1.2em;
background-color: white;
color: #275855;
transition: all 0.5s ease-in-out;
box-shadow: 5px 5px 14px rgb(129, 128, 128);
padding: 0.5em 1.3em;
margin-right: 2em;
cursor: pointer;
}
#profiledivpharmacy>div:nth-child(2)>button:hover{
background-color: #75c5c0;;
color: white;
}
#boldinfodivpharmacy{
border-bottom: 2px solid rgba(143, 141, 141, 0.575);
width: 90%;
padding: 0% 0% 1% 2% ;
display: flex;
height: 30%;
align-items: center;
margin-top: 1em;
}
#boldinfodivpharmacy>div>div{
display: flex;
align-items: center;
font-family: Fraunces;
}
#boldinfodivpharmacy>div:nth-child(2){

height: 100%;
justify-content: space-evenly;
display: flex;
flex-direction: column;
}
#profimgdivpharmacy{
margin-right: 4%;
width: 16%;
}
#maincontentdivpharmacy{
width: 80%;
}
#maincontentdivpharmacy>div>div>h6{
font-size: 1em;
color: red;
font-family: Fraunces;
text-shadow: 2px 2px 10px rgba(197, 194, 194, 0.411);
display: none;
}
#profinfodivpharmacy>h6{
font-size: 1em;
color: red;
font-family: Fraunces;
text-shadow: 2px 2px 10px rgba(197, 194, 194, 0.411);
display: none;
}
#maincontentdivpharmacy>div>div>input{
outline: none;
border: none;
border-bottom: 2px solid rgba(179, 176, 176, 0.452);
font-size: 1.4em;
font-family: Fraunces;
}
#Hospitaldiv>div:nth-child(1){
width: 17%;
}
#Hospitaldiv>div:nth-child(2){
width: 35%;
}
#Hospitaldiv>div>h1{
font-size: 1.5em;
color: #275855;
text-shadow: 2px 2px 10px rgba(197, 194, 194, 0.466);
}
#Hospitaldiv>div>input{
outline: none;
border: none;
border-bottom: 2px solid rgba(179, 176, 176, 0.452);
font-size: 1.2em;
font-family: Fraunces;
width: 100%;
}
#addhosbtn{
display: flex;
justify-content: flex-end;
flex-direction: row-reverse;
}
#addhosbtn>div{
width: 2em;

height: 2em;
border-radius: 50%;
box-shadow: 5px 5px 14px rgba(143, 142, 142, 0.637);
display: flex;
align-items: center;
cursor: pointer;
background-color: #75c5c0;
transition: all 0.5s ease-in-out;
}
#addhosbtn>h4{
font-family: Fraunces;
width: 90%;
font-size: 1.2em;
transition: all 0.5s ease-in-out;
text-shadow: 2px 2px 10px rgba(151, 150, 150, 0.767);
margin-right: 0.8em;
justify-content: flex-end;
align-items: center;
display: flex;
opacity: 0;
}
#addhosbtn>div:hover{
transform: scale(1.2);
}
#addhosbtn>div:hover + h4{
opacity: 1;
}
#addhosbtn>div>h5{
border-radius: 50%;
text-align: center;
width: 100%;
font-size: 1.5em;
font-weight: 800;
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
}
#profinfodivpharmacy>div>input{
outline: none;
border: none;
border-bottom: 2px solid rgba(179, 176, 176, 0.452);
font-size: 1.4em;
font-family: Fraunces;
width: 35%;
}
#profinfodivpharmacy>div>textarea{
outline: none;
border: 2px solid rgb(129, 129, 129);
font-size: 1.4em;
font-family: Fraunces;
width: 35%;
border-radius: 0.5em;
height: 4em;
}
#editsectionpharmacy{
width: 4%;
height: 100%;
}
#profimgdivpharmacy>div{
border-radius: 50%;
height: 10rem;
width: 10rem;
justify-content: center;
align-items: center;
display: flex;
border: 6px solid #75c5c0;
}
#profimgdivpharmacy>div>img{
width: 90%;
height: 90%;
border-radius: 50%;
border: 2px solid #75c5c0;
}
#Namediv>h2{
font-size: 2.6em;
text-shadow: 2px 2px 10px rgba(197, 194, 194, 0.411);
}
#profinfodivpharmacy{
width: 90%;
padding: 1% 0%;
height: 75% ;
overflow: scroll;
font-family: Fraunces;
}
#profinfodivpharmacy>div{
display: flex;
align-items: center;
font-size: 1em;
padding: 0.6em 0em;
}
#profinfodivpharmacy>div>h1{
width: 17%;
font-size: 1.5em;
color: #275855;
text-shadow: 2px 2px 10px rgba(197, 194, 194, 0.466);
}
#profinfodivpharmacy>div>h2{
font-size: 1.3em;
}
.removehosbtn>div{
width: 2em;
rotate: 45deg;
height: 2em;
border-radius: 50%;
box-shadow: 5px 5px 14px rgba(143, 142, 142, 0.637);
display: flex;
align-items: center;
cursor: pointer;
transition: all 0.5s ease-in-out;
}
.removehosbtn>div:hover{
transform: scale(1.2);
}
.removehosbtn{
display: flex;
justify-content: center;
}
.removehosbtn>div>h5{
border-radius: 50%;
text-align: center;
width: 100%;
font-size: 1.5em;
font-weight: 800;

font-family: Georgia, 'Times New Roman', Times, serif;
}
#Timediv>div{
display: flex;
font-size: 1.5em;
align-items: center;
}
#Timediv>div>.timingseditpharmacy{
margin: 0 1.2em;
padding: 0.5em 1em;
width: 6.5em;
border-radius: 1em;
outline: none;
border: 3px solid #75c5c0;
text-align: center;

cursor: pointer;
font-size: 1.2em;
}