#Medicinesdashboard{
display: flex;
flex-direction: row;
 padding: 0.5em;
width: 100%;

}
.contentarea{
    align-items: flex-start;
    width: 95%;
    
}
.contentareatitle{
font-size: 2.5em;
font-family: Fraunces;
text-align: center;
margin: 0.1em 0;
}
.searchbar{
display: flex;

justify-content: center;
margin:0.4em 0;
 flex-direction: row;
}
.search {
  border: none;
  background-color: transparent;
  font-size: 1.2em;
font-family: Raleway;
  margin-right: 0.5em;
border: 3px solid #75c5c08a;
padding: 0.5em 3.8em 0.5em 0.5em;
border-radius:2em ;
}

.optionscategory {
  font-size: 1.2em;
font-family: Raleway;
  padding: 0.5em;
    margin: 0 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  background-color: #fff;
  cursor: pointer;
}

.searchbtn{
  font-size: 1.2em;
font-family: Raleway;
  padding: 0.5em 1.2em;
  border: none;
  border-radius: 0.3em;
 margin: 0 0.5em;
  background-color: #56aca6ab;;
  color: #fff;
  cursor: pointer;
}
.searchbtn:hover{
 background-color: #56aca6;
    transform: scale(1.15);
}
.stockoptitle{
text-shadow: 2px 2px 4px rgba(209, 207, 207, 0.822);
opacity: 0;
transition:opacity 0.5s ease-in-out 0.01ms;
}
.stockoptitle>h4{
width: 11em;
z-index: 1000;

}
.controlbtns{
display: flex;
flex-direction: column;
margin-top: 8%;

width:4%;
padding-right: 2%;
}
.stockoperation{
display: flex;
flex-direction: row-reverse;
font-size: 1.2em;
font-family: Raleway;
margin-bottom: 2em;
width: 98%;
align-items: center;

padding-right: 2%;
}
.stockopicon{
background-color:#56aca6;
border-radius: 50%;
padding: 0 0.43em;
height: 1.4em;
display: flex;
align-items: center;
justify-content: center;
font-size: 2em;
box-shadow: 2px 2px 7px rgba(59, 59, 59, 0.507);
cursor: pointer;
margin-left: 0.5em;
}
.stockopicon>h4{
transition: transform 2.5s ease-in  ;
}
.stockopicon>h4{
color: white;
font-family: Fraunces;

}

.stockopicon:hover + .stockoptitle  {
  opacity: 1;

}
.stockopicon:hover> h4{
transform: rotate(180deg);
}
#delMedicines{
transform:rotate(45deg)
}
.medscontainer{
 display: flex;
  flex-wrap: wrap;
margin-left: 2em;
align-items: center;
 overflow-y: scroll;
}
.medsdiv{
  background-color: #f2f2f2;
  text-align: center;
  flex-basis: 15em;
  height: 15em;
  margin:2em 2em 2em 0;
cursor: pointer;
}
.topareamed{
height: 70%;
padding-top:5% ;
display: flex;
}
.bottomareamed{
height: 35%;

}

.medimg{
width: 80%;
display: flex;
justify-content: center;
align-items: center;
}
.medimg>img{
width:70%;
height:80%;
margin-left: 20%;
}

.sideareamed{
width: 20%;

}
.grayarea{
background-color: rgba(139, 130, 130, 0.514);
z-index: 2000;
position: fixed;
overflow: hidden;
top:0;
left: 0;
width: 100vw;
height: 100vh;
display: flex;

}
#closebtn{
height: 3em;
width: 3em;
background-color: #f2f2f2;
position: absolute;
top: 2vw;
right: 2vw;
border-radius: 50%;
box-shadow: 0 2px 30px rgba(12, 11, 11, 0.507);
display: flex;
align-items:center;
rotate: 45deg;
justify-content: center;
font-size: 1em;
cursor: pointer;
transition: all 1s ease-in-out;
}
#closebtn>h2{
color: black;
}
#closebtn:hover{
background-color: black;
box-shadow: 0 2px 30px rgba(236, 229, 229, 0.507);
transform: scale(1.2);
}
#closebtn:hover h2{
color: #f2f2f2;
}
#addmed_container{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#topbarmeds>h1{
background-color: #f1efef;
padding: 0.7em 25vw;
font-family: Fraunces;
border-radius: 2em;
border: 4px solid #25817b8a;
font-size: 1.5em;
}
#addmeds_area{

width: 80%;
height: 75%;
display: flex;
flex-direction: column;
margin-top: 2em;

}
#tabs_add{
display: flex;
flex-direction: row;
width: 100%;
padding-left: 1em;
}
#tabs_add>div{

padding: 0.5em 1.3em;
margin-left: 1.5em;
font-family: Fraunces;
border-top-left-radius: 1.2em;
border-top-right-radius: 1.2em;


cursor: pointer;
}
.idle_tab{
background-color: #25817b60;
border: 1px solid #f1efef ;
border-bottom: transparent;
transition: all 1s ease-in-out 0s;
}
.idle_tab>h2{
color: white;
font-size: 1.2em;
}
.idle_tab:hover{
transform: scale(1.1);
}
.active_tab{
background-color: #f1efef !important;
border: 3px solid #25817b8a !important;
border-bottom: 1px solid #f1efef !important;
margin-bottom: -3px !important ;
z-index: 1000 !important;

}
.active_tab>h2{
color: black ;
font-size: 1.5em ;
}
#addmedcontent{
border-radius: 2em;
box-shadow: 0 2px 30px rgba(53, 52, 52, 0.247);
padding: 0.7em;
background-color: #f1efef;
border: 4px solid #25817b8a;
overflow: scroll;
height: 90%;
}

#addmedcontent>div>h3{
font-family: Fraunces;
text-align: center;
}
#area{
height: 100%;
}
.top_bar_add_meds{
display: flex;
flex-direction: row;
align-items: center;
padding: 0.5em 2em;
border-bottom: 2px solid black;
height: 10%;
}
.top_bar_add_meds>h3{
width: 100%;
text-align: center;
font-size: 1.5em;
font-family: Fraunces;
}
.top_bar_add_meds>div>.icon{
background-color: pink;
width: 100%;
background-color: #25817b8a;
height: 3em;
width: 3em;
border-radius: 50%;
box-shadow: 0 2px 2px rgba(12, 11, 11, 0.233);
display: flex;
align-items:center;
justify-content: center;
font-size: 0.5em;
cursor: pointer;
transition: all 1s ease-in-out;
padding: 0.7em;
}
.top_bar_add_meds>div>.icon:hover{
transform: scale(1.1);
}
.add_area_meds{
display: flex;
flex-direction: column;
width: 100%;
height: 83%;
justify-content: space-around;
align-items: center;
padding: 1em 0;

}
.add_area_meds>h5{
font-family: Fraunces;
font-size: 1.2em;
}
.add_med_btns{
display: flex;
flex-direction: column;
justify-content: space-between;
height:50%;
align-items: center;

}
.add_med_btns>span{
display: flex;
flex-direction: row;
color:  #133331;
font-size: 1.2em;
padding: 1em 0;
font-weight: bolder;
font-family: Fraunces;
}
.upload_btn{
font-size: 1.2em;
font-family: Fraunces;
cursor: pointer;
padding: 0.4em 1em;
border-radius: 2em;
width: 50%;
background-color: #388b8659;
color: white;
border: #133331;
box-shadow: 0 2px 2px rgba(12, 11, 11, 0.233);
transition: all 0.5s ease-in-out;
}
.upload_btn:hover{
transform: scale(1.1);
background-color: #388b85fb;
color: black;
}
.fplink{
cursor: pointer;
}
.med>.form-fields>.inputf{

}
.med{
font-family: Fraunces;
}
.med>h6{
color: red;
display: none;
}
.med{
width:100%;
height: 100%;
font-size: 1.4em;
padding: 1em;
display: flex;
flex-direction: column;
justify-content: space-between;
border: 2px solid black;
border-radius: 1em;
}
.med-div{
width: 30%;
height: 50%;

}
.med-div>h3{
font-size: 1.8em;
font-family: Raleway;
text-align: center;
width: 50%;
margin: 0 30%;
z-index: 300000;
margin-bottom: -0.5em;

}
form{
width: 100%;
height: 100%;

}