#sidenavcontainerdoctor {
    background-color: #c29de0;
    width: 15%;
    height: 95vh;
    padding: 20px 15px;
    color: rgb(10, 10, 10);
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    /* margin-top: 10px; */
}

.tabsnamedoctor {
    transition: 0.3s ease-in-out;
    font-size: 0.9rem;
    text-align: center;
}

.tabsnamedoctor:hover {
    color: rgb(247, 244, 244);
}

/* --------------------- Collapsed ------------ */

#sidecollapsedcontainerdoctor {
    background-color: #c29de0;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    width: 50px;
    height: 95vh;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

#sidecollapsedcontainerdoctor>.orglogo {
    width: 60%;
    padding: 2rem 0;
}