
#sidenavcontainerpharmacy {
    width: 15%;
    height: 95vh;
    background-color: #75c5c0;
    padding: 20px 15px;
    color: rgb(10, 10, 10);
    border-bottom-right-radius: 1em;
    border-top-right-radius:1em ;
    /* margin-top: 10px; */
}

.organizationLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    font-family: Fraunces;
    
}
.orglogo {
    width: 20%;
    margin-bottom: 5px;
}
.orgname {
    color: black;
    font-size: 1.3rem;
    margin-bottom: 8px;
    text-align: center;
}
.organizationLogo>p {
    font-size: 0.8rem;
    text-align: center;
}
.tabscontainer {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 60%;
    
    justify-content: space-evenly;
}
.tabsdiv {
    display: flex;
    flex-direction: row;
    padding: 8px 15px;
    font-family: Raleway;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.tabsicon {
    margin-right: 0.7em;
    font-size: 1rem;
}
.tabsnamepharmacy {
    transition: 0.3s ease-in-out;
    font-size: 0.9rem;
    text-align: center;
}
.tabsnamepharmacy:hover{
    color: white;
}

.tabdiv-active {
    background-color: white
}
.selectedtab {
    transition: 0.3s ease-in-out;
    background-color: white;
}
.selectedtab .tabsnamepharmacy{
    font-size:1.1rem ;
}
.selectedtab .tabsicon{
    font-size:1.2rem ;
}

.selectedtab:hover .tabsnamepharmacy {
    color: black;
}

.collapsecontainer {
    display: flex;
    justify-content: flex-end;
}
.collapsebtn {
    font-size: 1.3rem;
    cursor: pointer;
}


/* --------------------- Collapsed ------------ */
#sidecollapsedcontainerpharmacy {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    width: 50px;
    height: 95vh;
    background-color: #75c5c0;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}
#sidecollapsedcontainerpharmacy>.orglogo {
    width: 60%;
    padding: 2rem 0;
}

.tabsrow {
    height: 75%;
    justify-content: space-evenly;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.tabscollapsed>.tabsicon {
    margin-right: 0em;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(209, 207, 207, 0.822);
    padding: 0.3em 0;
}

.tabscollapsed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    cursor: pointer;
    margin-bottom: 15px;
}

.tabscollapsed:hover {
    background-color: rgba(255, 255, 255, 0.473);
}
#expandbtn {
    font-size: 1.2rem;
    cursor: pointer;
}