#sidenavcontainerbloodbank {
    background-color: #db8181da;
    width: 15%;
    height: 95vh;
    padding: 20px 15px;
    color: rgb(10, 10, 10);
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    /* margin-top: 10px; */
    
}

.tabsnamebloodbank {
    transition: 0.3s ease-in-out;
    font-size: 0.9rem;
}

.tabsnamebloodbank:hover {
    color: rgb(247, 244, 244);
}

.selectedtab .tabsnamebloodbank{
    font-size:1.1rem ;
}

.selectedtab:hover .tabsnamebloodbank {
    color: black;
}

/* --------------------- Collapsed ------------ */
#sidecollapsedcontainerbloodbank {
    background-color: #db8181da;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    width: 50px;
    height: 95vh;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

#sidecollapsedcontainerbloodbank>.orglogo {
    width: 60%;
    padding: 2rem 0;
}
