#Doctorsdashboard{
display: flex;
flex-direction: row;
 padding: 0.5em;
width: 100%;
height: 100%;
overflow: hidden;
}
/*All the styles below are defined in the medicine.css file primarily*/
.contentarea{
    align-items: flex-start;
    width: 95%;
    height: 100%;
}
.contentareatitle{
font-size: 2.5em;
font-family: Fraunces;
text-align: center;
margin: 0.1em 0;

}
/* All the styles above are defined in the medicine.css file primarily*/
/*for doctors file*/
.searchhospital {
  border: none;
  background-color: transparent;
  font-size: 1.2em;
font-family: Raleway;
  margin-right: 0.5em;
border: 3px solid #8a9cbd;
padding: 0.5em 3.8em 0.5em 0.5em;
border-radius:2em ;
}
#view-btn-div{
align-self: flex-end;
display: flex;
border-radius: 50%;
transform: rotate(45deg);
}
#view-btn-div>button{
border-radius: 50%;
height: 2em;
width: 2em;
font-size: 1em;
font-family: Raleway;

outline: none;
border: 3px solid #56aca6;
background-color: transparent;
margin: 5%;
box-shadow: 2px 2px 7px rgba(12, 11, 11, 0.507);
font-weight: 500;
cursor: pointer;
}
#view-btn-div>button:hover{
background-color: #56aca6 ;
color: white;
}
/*for doctors file*/
/*for add doctors*/
#topbarmedshospital>h1{
background-color: #f1efef;
padding: 0.7em 14vw;
font-family: Fraunces;
border-radius: 2em;
border: 4px solid #8a9cbd;
font-size: 1.3em;
}
.idle_tabhospital{
background-color: #8a9cbd;
border: 1px solid #f1efef ;
border-bottom: transparent;
transition: all 1s ease-in-out 0s;
}
.idle_tabhospital>h2{
color: white;
font-size: 1.2em;
}
.idle_tabhospital:hover{
transform: scale(1.1);
}
.active_tabhospital{
background-color: #f1efef !important;
border: 3px solid #8db2f8 !important;
border-bottom: 1px solid #f1efef !important;
margin-bottom: -3px !important ;
z-index: 1000 !important;

}
.active_tabhospital>h2{
color: black ;
font-size: 1.5em ;
}
#addmedcontenthospital{
border-radius: 2em;
box-shadow: 0 2px 30px rgba(53, 52, 52, 0.247);
padding: 0.7em;
background-color: #f1efef;
border: 4px solid #8db2f8;
overflow: scroll;
height: 90%;
}

#addmedcontenthospital>div>h3{
font-family: Fraunces;
text-align: center;
}
.submitbtnmedhospital{
font-size: 1.2em;
color: black;
background-color: #8db2f8;
margin-right: 1.5em;
padding: 0.8% 1.5%;
border: none;
border-radius: 1em;
transition: all 0.5s ease-in-out;
cursor: pointer;
font-family: Raleway;
box-shadow: 0 2px 2px rgba(12, 11, 11, 0.233);
}
.submitbtnmedhospital:hover{
transform: scale(1.1);
color: #8db2f8;
border: 1.5px solid #8db2f8;
background-color: transparent;
font-weight: 700;
}
.top_bar_add_medshospital>div>.icon{
width: 100%;
background-color: #8dabe28c;
height: 3em;
width: 3em;
border-radius: 50%;
box-shadow: 0 2px 2px rgba(12, 11, 11, 0.233);
display: flex;
align-items:center;
justify-content: center;
font-size: 0.5em;
cursor: pointer;
transition: all 0.5s ease-in-out;
padding: 0.7em;
}
.top_bar_add_medshospital>div>.icon:hover{
transform: scale(1.1);
border: 1.5px solid #8db2f8;
background-color: transparent;
color: #8bbee7;
}
.top_bar_add_medshospital{
display: flex;
flex-direction: row;
align-items: center;
padding: 0.5em 2em;
border-bottom: 2px solid black;
height: 10%;
}
.top_bar_add_medshospital>h3{
width: 100%;
text-align: center;
font-size: 1.5em;
font-family: Fraunces;
}
.upload_btnhospital{
font-size: 1.2em;
font-family: Fraunces;
cursor: pointer;
padding: 0.4em 1em;
border-radius: 2em;
width: 50%;
background-color: #6e9ffa;
color: white;
border: #8bbee7;
box-shadow: 0 2px 2px rgba(12, 11, 11, 0.233);
transition: all 0.5s ease-in-out;
}
.upload_btnhospital:hover{
transform: scale(1.1);
background-color: #6e9ffa;
color: black;
}
.super_med_divhospitaldr{
width:100%;
height: 100%;
display: flex;
justify-content: center;
  flex-wrap: wrap;
 overflow-y: scroll;
}
.more-btnhospital{
border-radius: 50%;
height: 1.4em;
width: 1.4em;
font-size: 2.3em;
transition: all 0.5s ease-in-out;
font-family: Fraunces;
border:3px solid  #6e9ffa;
font-weight: bolder;
color: #6e9ffa;
cursor: pointer;
box-shadow: 0 2px 2px rgba(12, 11, 11, 0.233);
margin: 0;
}
.more-btnhospital:hover{
color: white;
background-color: #6e9ffa;
transform: scale(1.15);
border: none;
}
.med-divhospitaldr{
 background-color: #bed4fc;
  text-align: center;
  flex-basis: 98%;
  height: 27em;
border-radius: 2em;
border-right: 1.5em solid transparent;
overflow: hidden;
padding: 1em 0;
margin-bottom: 1em;
}
.btndivhosdr{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.medhospitaldr{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.submed{

display: flex;
flex-direction: column;
justify-content: space-evenly;
width:48%;
}
.medhospitaldr{
font-family: Fraunces;
}
.medhospitaldr>h6{
display: none;
font-family: Fraunces;
}
.medhospitaldr{
width:100%;
height: 90%;
font-size: 1.4em;
padding: 0.5em;
border-radius: 1em;
}
.availdiv{
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: flex-start;
font-family: Raleway;
font-size: 0.8em;
width: 100%;

}
.availdiv>div{
margin: 0.4em 0;
width: 100%;
text-align: left;
}
.availabilityhead{
font-weight: 700;
font-size: larger;
width: 100%;
}
.availdiv>div>input{
outline: none;
border: none;
border-bottom: 2px solid black;
background-color: transparent;
width: 60%;
font-size: 1em;
font-family: Fraunces;
}
.err-hospitaldr{
color: red;
font-family: Fraunces;
font-size: 0.8em;
display: none;
}
/*for add doctors*/

.medsdiv>.topareamed>.expandablediv{
display: none;
}
.docsdivspecial>.topareamed>.expandable-div{
width: 60%;
display: flex;
flex-direction: column;
align-items:flex-start;
justify-content: space-evenly;

padding-left: 2em;
border-left: 2px solid rgba(139, 130, 130, 0.514);
background-color: red;
}

.docsdivspecial{
width:90% !important;
flex-basis: 90% !important;
border:3px solid #f2f2f2;
text-align: center;
height: 15em;
margin:0em 2em 0em 0;
cursor: pointer;
border-radius: 2em;
}
.docsdivspecial>.topareamed{
height: 100% !important;
padding-top:0% ;
display: flex;

align-items: center;
}
.docsdivspecial>.bottomareamed{
height: 0%;
display: none;
font-family: Fraunces;
}
.docsdivspecial>.topareamed>.medimg{
width: 15% !important;
height: 80%;
margin-right: 2%;
}
.docsdivspecial>.topareamed>.sideareamed{
display: none;
}
.expandablediv{
padding-bottom: 1em;
width: 80%;
flex-direction: column;
display: flex;
height: 100%;
}
.expandablediv_head{

margin-top:1em ;
display: flex;
justify-content: flex-end;
width: 100%;
height: 3em !important;
}
.expandablediv_head>button{
width: 7em;
height: 2.5em;
border-radius: 1em;
border: 3px solid #6e9ffa;
background-color: transparent;
outline: none;
margin-left: 1em;
text-align: center;
font-family: Fraunces;
font-weight: 500;
font-size: 1em;

transition: all 0.5s ease-in-out;
cursor: pointer;
}
.expandablediv_head>button:hover{
transform: scale(1.05);
background-color: #6e9ffa;
border: none;
color: white;
}
.expandabledivhead>div>button{
background-color: transparent;
transition: all 0.5s ease-in-out;
outline: none;
color: black;
cursor: pointer;
border: none;
width: 100%;
text-align: center;
font-size: 1.5em;
rotate: 45deg;
}
.expandabledivcontent{

width: 100%;
height: 92%;
display: flex;
flex-direction: row;
justify-content: space-evenly;
}
.expandabledivcontent>div:nth-child(1){
width: 45%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
height: 100%;
}
.expandabledivcontent>div:nth-child(2){
width: 45%;
display: flex;
flex-direction: column;
justify-content: flex-start;
height: 100%;
}
.expandabledivchild{
font-family: Fraunces;
font-size: 1em;
display: flex;
flex-direction: row;
}
.expandabledivchild>h3{
margin-right: 0.5em;
align-items: center;
}
.infomeds{

width: 100%;
height: 85%;
overflow: hidden;
}
#scrollablecont{

width: 100%;
height: 100%;
overflow: hidden;
}

.medscontainerhospitaldr{
height: 100%;

 display: flex;
  flex-wrap: wrap;
margin-left: 2em;
 overflow-y: scroll;

}
#depinput{
outline: none;
border: none;
border-bottom: 2px solid #6e9ffa;
font-size: 1.5em;
width: 50%;
cursor: pointer;
}
.editinputcontent{
display: flex;
flex-direction: column;
justify-content: space-evenly;
height: 83% !important;
overflow: scroll;

}
.editinputcontent>div>input{
outline: none;
border: none;
border-bottom: 2px solid #6e9ffa;
font-size: 1.5em;
width: 50%;
}
#footerupdate{
padding: 0.3em;
display: flex;
justify-content: space-between;
width: 95%;
height: 5%;
}
#footerupdate>button{
border: 2.5px solid #6e9ffa;
font-family: Fraunces;
background-color: transparent;
font-size: 1rem;
box-shadow: 4px 4px 14px rgba(180, 178, 178, 0.473);
transition: all 0.5s ease-in-out;
color: #6e9ffa;
text-shadow: 2px 2px 5px rgba(175, 173, 173, 0.329);
border-radius: 2em;
padding: 1rem 1.5rem;
cursor: pointer;
}
#footerupdate>button:hover{
background-color:#6e9ffa;
border: 3px solid #6e9ffa !important;
color: white;
}
#footerupdate>div:nth-child(1){
display: flex;
font-family: Fraunces;
font-size: 0.8em;
align-items: center;
width: 40%;
justify-content: space-evenly;
}
#footerupdate>div:nth-child(1)>img{
border-radius: 50%;
border: 3px solid #6e9ffa;
box-shadow: 4px 4px 14px rgba(180, 178, 178, 0.473);
transition: all 0.5s ease-in-out;
cursor: pointer;
width: 3em;
height: 3em;
}
#footerupdate>div:nth-child(1)>img:hover{
transform: scale(1.1);
}

/*styles mainy donor m define kye thy phr is p bhi lgne lgy*/


.donorarea{

  height: 40em;
  width: 98%;
  padding: 1em;
   display: flex;
    flex-wrap: wrap;
   overflow-y: scroll;
  overflow-x: hidden;
  }
  .searchdonor {
    border: none;
    background-color: transparent;
    font-size: 1.2em;
  font-family: Raleway;
    margin-right: 0.5em;
  border: 3px solid #e06464da;
  padding: 0.5em 3.8em 0.5em 0.5em;
  border-radius:2em ;
  }
  .donordiv{
    border:3px solid #f2f2f2;
    text-align: center;
    flex-basis: 45em;
    height: 20em;
    margin:0 2em 2em 0;
    cursor: pointer;
  font-family: Fraunces;
    border-radius: 2em;
      display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 5px 5px 14px rgba(119, 119, 119, 0.603);
  }
  .donordiv>div:nth-child(1){
  width: 30%;
  height: 60%;
  
  }
  .donordiv>div:nth-child(1)>img{
  width: 100%;
  height: 100%;
    border-right:3px solid #5e5d5d;
  }
  .donordiv>div:nth-child(2){
  
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  }
  .donordiv>div:nth-child(2)>div{
  display: flex;
  
  align-items: center;
  }

  .donordiv>div:nth-child(2)>div>h2{
  font-size: 1.3em;
  width: 70%;
  text-align: left;
  }
  .donorinfogray{
  position: absolute;
  background-color: rgba(151, 151, 151, 0.356);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  }
  #donorinfodiv{
  background-color: white;
  box-shadow: 5px 5px 14px rgba(119, 119, 119, 0.603);
  width: 40%;
  height: 80%;
  border-radius: 2em;
  font-family: Fraunces;
  padding: 1em;
  
  }
  #donorinfodiv>div:nth-child(1){
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
    border-bottom:3px solid #f2f2f2;
  padding-bottom: 1em;
  }
  #donorinfodiv>div:nth-child(1)>h1{
  
  width: 60%;
  }
  #closebtndonor{
  border-radius: 50%;
  width: 3em;
  height: 3em;
  rotate: 45deg;
  box-shadow: 4px 4px 14px rgba(133, 132, 132, 0.521);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  }
  
  #closebtndonor>h1{
  color:#6e9ffa;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.1em;
  font-weight: 400;
  }
  #closebtndonor:hover{
  background-color:#6e9ffa;
  transform: scale(1.1);
  
  }
  #closebtndonor:hover h1{
  color: rgb(245, 245, 235);
  }
  .verified{
  background-color: rgba(118, 235, 63, 0.438);
  color: rgb(25, 58, 25);
  padding: 0.2em;
  width: fit-content !important;
  border: 3px solid rgb(25, 58, 25);
  box-shadow: 2px 2px 14px rgba(180, 179, 179, 0.288);
  }
  .rejectbtn{
  border-radius: 1em;
  color: red;
  padding: 0.3em 0.79em;
  width: fit-content !important;
  border: 3px solid red;
  box-shadow: 2px 2px 14px rgba(180, 179, 179, 0.288);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  margin:0 2em;
  }
  .rejectbtn:hover{
  background-color: rgba(248, 167, 167, 0.425);
  }
  .verifybtn{
  border-radius: 1em;
  color: rgb(25, 58, 25);
  padding: 0.3em 0.79em;
  width: fit-content !important;
  border: 3px solid rgb(25, 58, 25);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  margin:0 2em;
  box-shadow: 2px 2px 14px rgba(180, 179, 179, 0.288);
  }
  .verifybtn:hover{
  background-color:  rgba(118, 235, 63, 0.438);
  }
  #donorinfodiv>div:nth-child(2){
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
  overflow: scroll;
  }
  #donorinfodiv>div:nth-child(2)>div{
  display: flex;
  font-size: 0.8em;
  align-items: center;
  padding: 1em;
  }
  #donorinfodiv>div:nth-child(2)>div>h1{
  width: 30%;
  font-size: 1.7em;
  }
  #donorinfodiv>div:nth-child(2)>div>h2{
  width: 70%;
  }
