#Transactionsdashboard{
display: flex;
flex-direction: row;
 padding: 0.5em;
width: 100%;
height: 95%;
}
/*All the styles below are defined in the medicine.css file primarily*/
.contentarea{
    align-items: flex-start;
    width: 95%;
    height: 100%;
}
.contentareatitle{
font-size: 2.5em;
font-family: Fraunces;
text-align: center;
margin: 0.1em 0;

}
/* All the styles above are defined in the medicine.css file primarily*/
#transactionsdiv{
width: 100%;
height:84%;
margin-top: 1%;
display: flex;
flex-direction: row;
}
#transact-divpharmacy{
border: 3px solid #56aca6;
height: 100%;
width:73%;
margin-right: 1%;
border-radius: 2em;
display: flex;
flex-direction: column;
justify-content: space-between;
}
#side-transact-divpharmacy{
border: 3px solid #56aca6;
width: 25%;
height: 100%;

}
#header-side-transact-divpharmacy{
background-color:#56aca6;
padding: 0.5rem 0;
font-size: 0.6rem;
font-family: Fraunces;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
#transact-divblood{
border: 3px solid #e06464da;
height: 100%;
width:73%;
margin-right: 1%;
border-radius: 2em;
justify-content: space-between;
}
#side-transact-divblood{
border: 3px solid #e06464da;
width: 25%;
height: 100%;

}
#header-side-transact-divblood{
background-color:#e06464da;
font-size: 0.6rem;
font-family: Fraunces;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 0.5rem 0;
}
#container-side-transact-div{
width: 100%;
height: 85%;
overflow: scroll !important;
}
#container-side-transact-div>table{
width: 96%;
font-family: Fraunces;
height: auto;
margin: 2%;
text-align: center;
border-collapse: separate;
border-spacing: 0;

}
#slec{width: 98%;
    border: 3px solid #56aca6;
justify-content: space-evenly;
display: flex;      
margin-top: 0.3rem;
}
#slec>h6{
    font-size: 0.8rem;
    font-family: Fraunces;
    font-weight: 700;
    padding: 0.6rem 0;
    text-align:end;
}
#slec>h6:nth-child(2){
    width: 36%;
    margin-right: 10%;
}
#slec>h6:nth-child(3){width: 25%;}
#slec>h6:nth-child(4){width: 15%;}
#container-side-transact-div>table>tr>th{
font-size: 1rem;
font-weight: 700;
padding: 0.6rem 0;

}
#container-side-transact-div>table>tr>td{
cursor: pointer;
font-size: 0.8rem;
padding: 0.6rem 0;
}
tr{
margin-bottom: 2em;
border-bottom: 2px solid rgba(155, 154, 154, 0.452);
transition: all 0.5s ease-in-out 0s;
}
table>.entrydetailpharmacy:hover{
transform: scale(1.03);
background-color: #56aca68f ;
}
table>.entryheadpharmacy{
border: 2px solid #56aca6;
outline: 2px solid #56aca6;
}
table>.entrydetailblood:hover{
transform: scale(1.03);
background-color: #e0646469 ;
}
table>.entryheadblood{
border: 2px solid #e06464da;
outline: 2px solid #e06464da;
}
td>label{
cursor: pointer;
}
td>input{
cursor: pointer;
}
#buyername{
display: flex;
flex-direction: row;
width: 97%;
padding: 1em;
font-family: Raleway;
border-bottom: 2px solid rgb(128, 126, 126);
}
#date{
font-family: Raleway;
display: flex;
flex-direction: row;
padding:0.5em 1em 0em 1em;
font-weight: lighter;
}
#date>h3{
font-size: 1.2rem;
font-weight: lighter;
font-family: Fraunces;
margin-left: 1em;
}
#date>h2{
font-size: 1.3rem;
font-weight: lighter;
}
#buyername>label{
width: 17%;
cursor: pointer;
font-size: 1.3rem;
}
#buyername>input{
width: 80%;
outline: none;
border: none;
background-color: transparent;
font-size: 1.2rem;
font-family: Raleway;

}
#transactionitemcontainer{
width: 100%;
font-family: Raleway;
height: 68%;
overflow-x: hidden;
display: flex;
flex-direction: column;
justify-content: space-between;
}
#transactionitemcontainer>table{
width: 100%;
border-collapse: separate;
border-spacing: 1em;
overflow-y: scroll;
}
#transactionitemcontainer>table>tr>th{
font-size: 1.1rem;
}
#transactionitemcontainer>table>tr>td{
font-size: 1.1rem;
text-align: center;
}
.quantity{
width: 10%;
}
.itemname{
width: 70%;
}
table>.itemhead{

outline: 2px solid rgb(177, 174, 174);
outline-offset: 0.6em;
}
.quantity>input{
font-size: 1.1rem;
text-align: center;
width: 2em;
border: none;
outline: none;
}
#transact-divbottompharmacy{
width: 100%;
height:10%;
background-color: #56aca670;
border-bottom-left-radius:2em ;
border-bottom-right-radius: 2em;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
}
#savetransactpharmacy{
background-color: white;
font-family: Fraunces;
color:black;
border: 3px solid #56aca6;
border-radius: 2em;
font-weight: 500;
margin-right: 5%;
font-size: 1.1rem;
padding: 0.5em;
transition: all 0.5s ease-in-out;
box-shadow: 3px 2px 9px rgba(59, 59, 59, 0.507);
cursor: pointer;
}
#savetransactpharmacy:hover{
background-color: #56aca6;
color: white;
}
#transact-divbottomblood{
width: 100%;
height:10%;
background-color: #e06464da;
border-bottom-left-radius:1.8em ;
border-bottom-right-radius: 1.8em;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
}
#savetransactblood{
background-color: white;
font-family: Fraunces;
color:black;
border: 3px solid #f0a4a4da;
border-radius: 2em;
font-weight: 500;
margin-right: 5%;
font-size: 0.6rem;
padding: 0.5em;
transition: all 0.5s ease-in-out;
box-shadow: 3px 2px 9px rgba(59, 59, 59, 0.507);
cursor: pointer;
}
#savetransactblood:hover{
background-color: #f0a4a4da;
color: white;
}
.idlebtn{
cursor: not-allowed !important;
opacity: 0.5 !important;
}
#itemtotalamount ,#itemtotaldiscount{
width: 99.2%;
margin-left: 0.3%;
padding: 0.5em 0;
display: flex;
flex-direction: row;
align-items: center;
border: 2px solid black;
margin-bottom: 0.2em;
}
#itemtotalamount>h3,#itemtotaldiscount>h3{
width: 80%;
text-align: center;
}
#itemtotalamount>h4,#itemtotaldiscount>select{
width: 15%;
text-align: center;
}
#itemtotaldiscount>select{
padding: 0.4em;
font-size: 1.1em;
}
#historybar{
width: 100%;
height: 5%;
align-items: center;
display: flex;
justify-content: flex-end;

}
#historybar>div>img{
width: 1.5em;
margin-left: 1.5em;
height: 1.5em;
margin-right: 1em;

}
#historybar>div{
cursor: pointer;
font-family: Fraunces;
font-size: 1em;
display: flex;
}
#transactionhistorygrayarea{
position: absolute;
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(146, 146, 146, 0.507);
width: 100vw;
height: 100vh;
top:0;
left: 0;
z-index: 30000;
}
#transactionhistory{
width: 80%;
height: 90%;
background-color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 2em;
}
#transactionhistoryheader{
display: flex;
padding: 2em;
border-bottom: 2px solid rgba(189, 186, 186, 0.404);
height: 5%;
width: 96%;
}
#thheading{
width: 95%;
font-family: Fraunces;
font-size: 1em;
display: flex;
flex-direction: row;
justify-content: center;

}
#closebtnhistory{
border-radius: 50%;
font-size: 1.3em;
font-weight: lighter;
rotate: 45deg;
box-shadow: 5px 5px 14px rgba(131, 130, 130, 0.747);
width: 1.9em;
font-family:'Times New Roman', Times, serif;
height: 1.9em;

}
#closebtnhistory>h2{
width: 100%;
border-radius: 50%;
height: 100%;
cursor: pointer;
color: black;
display: flex;
justify-content: center;
align-items: center;
transition: all 0.5s ease-in-out;
}
#closebtnhistory>h2:hover{
background-color: black;
transform: scale(1.1);
color: white;
}
#transactionhistorycontent{
margin-left: 2%;
height: 82%;
width: 90%;
padding: 1em 0;
overflow-y: scroll;
overflow-x: scroll;
}
#transactionhistorycontent>div:nth-child(1){
width: 93%;
}
#transactionhistorycontent>div{
border-left: 2px solid rgba(173, 172, 172, 0.719);
margin-left: 2em;

}
.historydiv{
font-family: Fraunces;
font-size: 1.1em;
display: flex;
flex-direction: row;
align-items: center;
margin:1em 0 ;

}

.circlehistoryno{
width: 2em;
height: 2em;
background-color: white;
border-radius: 50%;
border:  4px solid rgba(146, 143, 143, 0.733);
margin-left: -1.5%;
}
.circlehistoryno>h1{
font-size: 1em;
font-family: Fraunces;
display: flex;
align-items: center;
justify-content: center;
height: 100%;
}
.historydiv>h3:nth-child(2){
border-bottom: 1px solid rgba(206, 203, 203, 0.596);
width: 16%;
margin-left: 2%;
}
.historydiv>h3:nth-child(3){
width: 56%;
border-bottom: 1px solid rgba(206, 203, 203, 0.596);
}
.historydiv>h3:nth-child(4){
border-bottom: 1px solid rgba(206, 203, 203, 0.596);
width: 16%;
}
.transacthistorydetail{
width: 1.5em;
height: 1.5em;
border-radius: 50%;
box-shadow: 5px 5px 14px rgba(136, 135, 135, 0.555);
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
}
.transacthistorydetail>img{
width: 70%;
height: 70%;
cursor: pointer;
}
.transacthistorydetail:hover{
transform: scale(1.1);
}
.historydetail{

width: 90%;
border: 2px solid rgba(126, 125, 125, 0.726);
margin: 1em 2em;
display: none;
}
.historydetaillabel{
display: flex;
flex-direction: row;
width: 100%;
justify-content: space-evenly;
font-size: 1em;
font-family: Fraunces;
padding: 0.5em 0;
}
.historydetaillabel>h3:nth-child(1){
width: 40%;

}
.historydetaillabel>h3:nth-child(2){
width: 20%;
text-align: center;
}
.historydetaillabel>h3:nth-child(3){
width: 20%;
text-align: center;
}
.historydetaildiv{
display: flex;
flex-direction: row;
width: 100%;
justify-content: space-evenly;
font-size: 0.8em;
font-family: Fraunces;
padding: 0.5em 0;
}
.historydetaildiv>h3:nth-child(1){
width: 40%;

}
.historydetaildiv>h3:nth-child(2){
width: 20%;
text-align: center;
}
.historydetaildiv>h3:nth-child(3){
width: 20%;
text-align: center;
}