*{
    margin: 0;
    padding: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
background-color: rgba(166, 211, 253, 0.432);
  backdrop-filter: blur(10px); /* apply a blur effect to the navbar */
  -webkit-backdrop-filter: blur(10px); /* for Safari */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.247); 
  padding: 0.5em 1em;
position: fixed;
width: 98vw;
}

.logo {
  font-size: 1.7em;
  font-weight: bold;
  color: #333;
  text-decoration: none;
display: flex;
flex-direction: row;
align-items: center;
letter-spacing: 0.2em;
}
.logo >img{
margin:0 1em;
}
.navbar-toggler {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
margin-right: 2em;
margin-top: 0.3em;
font-size: 1.4em;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: rgba(183, 153, 218, 0.205);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
font-family: Fraunces;
}

.nav-item {
  margin: 0 1.5em;
font-family: Fraunces;
transition: all 0.5s ease-in-out;
width: 5.5em;
padding: 0 1.2em;
text-align: center;
}

.nav-link {
  font-size: 18px;
  color: #333;
  text-decoration: none;
  transition: all 0.5s ease-in-out;

}

.nav-link:hover {
  color: rgb(89, 32, 155);
font-weight: bolder;
font-size: 1.6em;
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  .nav-menu {
    display: none;
  }
}

.title{
font-size: 0.9em;
color: rgb(3, 3, 3);
text-shadow:  5px 2px 14px rgba(231, 224, 224, 0.5);

}
