#partnerContainer{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
margin: 2em 0;
}
#partnerContainer>h2{
font-family: Preside;
font-size: 4.5em;
margin-bottom: 0.4em;
text-shadow:  5px 2px 14px rgba(36, 35, 35, 0.5);
color: rgb(36, 42, 100);
}
.Partnerlist{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
justify-items: space-around;
}
.PartnerDiv>img{
    border-radius: 50%;
    width: 12em;
    height: 12em;
}
.PartnerDiv{
display: flex;
flex-direction: column;
align-items: center;
background-color: blue;
}