
#dashboardarea{
    width: 85%;
    display:flex;
    flex-direction: column;
}
.adminname{
    text-decoration: none;
    font-family: Fraunces;
    padding-left: 2%;
    word-spacing: 5px;
}
.icon{
margin-left: 1em;
cursor: pointer;
font-size:1.3em;
padding: 0.4em;
border-bottom: 4px solid transparent;
}
.links{
    display: flex;
    flex-direction: row;
    margin-right: 2%;
}
.admindiv{
    display: flex;
flex-direction: row;
width: 20%;
justify-items: center;
align-items: center;
cursor: pointer;
}
.infoareadashboard{
display: flex;
flex-direction: column;
margin: 1em 0.6em 0em 1.2em;
height: 93%;
border-radius: 2em;
box-shadow: 0 2px 30px rgba(53, 52, 52, 0.247);
padding: 0.7em;
background-color: white;
}
/**/
.secondnavdoctor{
    width: 99%;
    background-color: white;
    margin-top: 1em;
    border: 3px solid #d3b1ece0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em 0.2em;
    border-top-right-radius:3em ;
    border-bottom-right-radius:3em ;
    box-shadow: 0 2px 30px rgba(53, 52, 52, 0.247);
    
}
.active-overlaydoctor{
border-bottom: 4px solid  #c29de0 !important;
}

.performancegraphdoctor{
flex-direction: row;
align-items: center;
display: flex;
height:57%;
width:100%;
margin: 0.7em 0em 0.2em 0em;
justify-content: space-between;
}
.performancegraphsubdoctor{
border: 3px solid #d3b1ece0;
box-shadow: 0 2px 30px rgba(53, 52, 52, 0.089);
height: 100%;
}
.performancegraphsubdoctor>h3{
font-family: Fraunces;
text-align: center;
padding: 0.5em 0;
}
.performancegraphsubdoctor:nth-child(1){
width: 95%;
}

.bookdiv4{
padding: 0 0;
margin: 0 0.3em 0 0.9em;
box-shadow: 2px 2px 7px rgba(53, 52, 52, 0.247);
font-family: Raleway;
height: 49%;
overflow-y: scroll;
overflow-x: hidden;
}
.section1doctor{
width: 100%;
height: 100%;
display: flex;
flex-direction: row;
margin-bottom:1em;

}

.section2doctor{
display: flex;
flex-direction: row;
width: 100%;
height: 37%;

justify-content: space-between;

}
.section2subdoctor{
height: 100%;
width:49%;
margin: 1em 0;
}
.section2subdoctor>h2{
font-size: 1.2em !important;
}
.section2subdoctor>div{
box-shadow: 0 2px 30px rgba(53, 52, 52, 0.247);
height: 82%;
width: 100%;
}
.subsec1doctor{
width: 70%;

}
.subsec2pharmacy{
width: 45%;
padding: 0 0;
height: 100%;
border-top-right-radius: 2em;

}
.patientcominghead{
display: flex;
flex-direction: row;
align-items: center;
padding: 1.5em 2em 0.6em 2em;
}
.patientcominghead>img{
width: 5em;
height: 5em;
}
.patientcominghead>div>h4{
font-size: 1.4em;
font-family: Fraunces;
}
.patientcominghead>div>h5{
font-size: 1em;
font-family: Fraunces;
}
.patientcominghead>div{
margin-left: 0.7em;
}
#upcomingpatient{
border-bottom-left-radius: 2em;
}
#upcomingpatient>h4{
padding: 0 2em ;
font-size: 1.1em;
font-family: Fraunces;
}
#upcomingpatient>h4>span{
margin-right: 0.5em;
font-size: 1.1em;
font-family: Fraunces;
}
#prevpatient>h4{
padding: 0 2em ;
font-size: 1.1em;
font-family: Fraunces;
}
#prevpatient>h4>span{
margin-right: 0.5em;
font-size: 1.1em;
font-family: Fraunces;
}

#headpatient{
display: flex;
flex-direction: row;
padding: 1em 2em;
width: 92%;
font-size: 0.8em;
background-color:  rgba(203, 175, 248, 0.315);
color: whitesmoke;
font-weight: bolder !important;
font-family: Raleway;
align-items: center;
border-bottom: 3px solid rgba(190, 174, 174, 0.37);
}
#headpatient>h3{
font-weight: lighter;
}
.patientinfo>h3:nth-child(1){
width: 45%;
}
.patientinfo>h3:nth-child(2){
width: 26%;
}
.patientinfo>h3:nth-child(3){
width: 29%;
}

.patientcontent{
display: flex;
flex-direction: row;
padding: 1em 2em;
width: 92%;
font-size: 0.8em;
align-items: center;
font-weight: lighter !important;
border-bottom: 3px solid rgba(190, 174, 174, 0.37);
}
.patientcontent>h3{
font-size: 1.3em;
}
.patientcontent>h3:nth-child(2){
font-family: Ysabeau;
}
.patientcontent>h3:nth-child(3){
font-family: Ysabeau;
}

#contentinfopatient{
overflow-y: scroll;
overflow-x: hidden;
}
#datedisplay{
border-bottom: 2px solid rgba(104, 102, 102, 0.404);
background-color:  rgba(203, 175, 248, 0.315);
justify-content: flex-end;
font-size: 0.8em;
font-family: Fraunces;
display: flex;
padding: 1em 1em;
}
#scheduledashboard{
overflow-x: hidden;
overflow-y: scroll;
}
#scheduledashboard>div{
display: flex;
flex-direction: row;
font-family: Fraunces;
margin: 0.5em 0;
}
#scheduledashboard>div:nth-child(2n){
background-color:  rgba(138, 223, 212, 0.486);
}
#scheduledashboard>div>h1{
font-size: 1.2em;
width: 60%;
text-align: center;
}
#scheduledashboard>div>h3{
font-family: Raleway;
width: 40%;
text-align: center;
}