#FooterContainer {
    margin-top: 3rem;
    background-color: rgba(166, 211, 253, 0.568);
}
.footerdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 2rem;
}
.linkdiv{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 10px;

}
.footerlogo{
    width: 50px;
    height: 50px;
}

#FooterContainer>div>p {
    text-align: right;
    font-family: Fraunces;
    font-size: 0.75rem;
    font-weight: lighter;

}