/*
......................login........................................................*/
#logincontainer {
    top: 0;
    left: 0;
    margin: 0 0;
    height: 100vh;
    width: 100vw;
    background-image: url('../../images/wall1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.llogo {
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
}

.llogo>img {
    margin-left: 15px;
    width: 50px;
    height: 50px;
}

.llogo>h1 {
    margin-left: 5px;
    font-size: 1.25rem;
    color: rgb(3, 3, 3);
    font-family: Fraunces;
}

#login_forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login_forms>h1 {
    font-size: 2em;
    font-family: Fraunces;
    text-align: center;
    text-shadow: 2px 2px 7px rgba(112, 111, 111, 0.5);
    color: rgb(36, 42, 100);
    letter-spacing: 0.1em;
    margin-bottom: 1.5rem;
}

.optcont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* width: 400px; */
    cursor: pointer;
}

.optdivs {
    /* margin-bottom: 0.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.optdivs>img {
    width: 2rem;
    height: 2rem;
    box-shadow: 0 2px 24px rgba(107, 106, 106, 0.514);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.315);
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out 0.01ms;
}

.optdivs>h3 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-family: Fraunces;
    font-size: 1em;
    cursor: pointer;
    margin-top: 0.5em;
}

.optdivs>img:hover+h3 {
    opacity: 1;
}

.optdivs>img:hover {
    border: 1px solid rgb(36, 42, 100);
}

#login_and_form {
    display: flex;
    flex-direction: column;
}

#bookmarks_login {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#bookmarks_login>div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-family: Fraunces;
    cursor: pointer;
    background-color: rgb(36, 42, 100);
    color: white;
    font-size: 0.4rem;
    transition: all 0.1s ease-in-out 0.1ms;
    margin-right: 5px;
}

#bookmarks_login>div>h1 {
    color: white;
    transition: all 0.5s ease-in-out 0.01ms;
}

#bookmarks_login>div:hover {
    background-color: rgb(205, 229, 252);
}

#bookmarks_login>div:hover h1 {
    color: black;
}
.selected_bookmark {
    background-color: rgb(205, 229, 252)!important;
    border: 1px solid rgb(36, 42, 100) ;
    border-width: 0.5px;
  }
  .selected_bookmark>h1 {
    color: black !important;
  }

.loginform {
    background-color: rgba(173, 209, 243, 0.4);
    box-shadow: 4px 2px 14px rgb(174, 173, 173);
    border-radius: 15px;
    padding: 20px 40px 20px 40px;
}

.login_type_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.4em;
}

.login_type_container>img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.login_type_container>h3 {
    font-family: "Fraunces";
    font-size: 1.5rem;
    margin-left: 0.5rem;
    color: rgb(36, 42, 100);
}

#login_form {
    align-items: center;
    justify-content: center;
    display: flex;
}

.inputsdiv {
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    /* justify-content: space-evenly; */
}

.form-fields {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    font-family: Raleway;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.form-fields>label {
    min-width: 35%;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}
.inputf {
    outline: none;
    border: none;
    width: 65%;
    background-color: transparent;
    border-bottom: 2px solid black;
    border-radius: 0;
    font-size: 1rem;
}

.inputf:focus {
    background-color: rgba(63, 181, 245, 0.315);
}

.btndiv {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.formbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: Fraunces;
    cursor: pointer;
    background-color: rgb(36, 42, 100);
    color: white;
    font-size: 0.7rem;
    transition: all 0.1s ease-in-out 0.1ms;
}

.formbtn:hover {
    transform: scale(1.1);
}

#showpw {
    font-size: 1em;
    background: transparent;
    border: none;
    cursor: pointer;
}

#err {
    background-color: rgb(236, 213, 213);
    border: 3px solid red;
    color: red;
    /* width: 100%; */
    padding: 10px;
    text-align: center;
    font-family: Fraunces;
    display: none;
}


.radio-btn-label-branch {
    font-family: Fraunces;
    font-size: 1em;
    text-shadow: none !important;
    font-weight: 100;
    cursor: pointer;
}

.fplink {
    color: rgb(211, 7, 7);
    text-align: end;
    font-size: 0.75rem;
    font-weight: bolder;
    font-family: Raleway;
    margin-top: 1rem;
}

.fplink:hover {
    color: rgb(97, 61, 133);
}